.DS_Store
all_bert_models/.DS_Store
all_bert_models/uncased_L-2_H-128_A-2.zip
all_bert_models/uncased_L-2_H-256_A-4.zip
all_bert_models/uncased_L-2_H-512_A-8.zip
all_bert_models/uncased_L-2_H-768_A-12.zip
all_bert_models/uncased_L-4_H-128_A-2.zip
all_bert_models/uncased_L-4_H-256_A-4.zip
all_bert_models/uncased_L-4_H-512_A-8.zip
all_bert_models/uncased_L-4_H-768_A-12.zip
all_bert_models/uncased_L-6_H-128_A-2.zip
all_bert_models/uncased_L-6_H-256_A-4.zip
all_bert_models/uncased_L-6_H-512_A-8.zip
all_bert_models/uncased_L-6_H-768_A-12.zip
all_bert_models/uncased_L-8_H-128_A-2.zip
all_bert_models/uncased_L-8_H-256_A-4.zip
all_bert_models/uncased_L-8_H-512_A-8.zip
all_bert_models/uncased_L-8_H-768_A-12.zip
all_bert_models/uncased_L-10_H-128_A-2.zip
all_bert_models/uncased_L-10_H-256_A-4.zip
all_bert_models/uncased_L-10_H-512_A-8.zip
all_bert_models/uncased_L-10_H-768_A-12.zip
all_bert_models/uncased_L-12_H-128_A-2.zip
all_bert_models/uncased_L-12_H-256_A-4.zip
all_bert_models/uncased_L-12_H-512_A-8.zip
all_bert_models/uncased_L-12_H-768_A-12.zip
all_bert_models/uncased_L-2_H-128_A-2/bert_config.json
all_bert_models/uncased_L-2_H-128_A-2/bert_model.ckpt.data-00000-of-00001
all_bert_models/uncased_L-2_H-128_A-2/bert_model.ckpt.index
all_bert_models/uncased_L-2_H-128_A-2/vocab.txt
data/reduced_dataset/goemotions_small.csv
